<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Hosteria San Benito Concordia" />
        <meta name="keywords" content="hosteria, san benito,Benito,concordia, entre rios,entre,rios,estadia, relax,servicios,calidad" />
        <meta http-equiv="Content-Language" content="es">
        <meta name="robots" content="all" >
        <link type="text/plain" rel="author" href="../../humans.txt" />

        <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
        <script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="content_gallery">

        <h2>Galería</h2>
        <!--<ul class="gallery clearfix">
                <li><a href="images/1.JPG?lol=lol" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures."><img src="images/galeria/thumbnails/tn_1.jpg"   alt="Red round shape" /></a></li>
                <li><a href="images/2.jpg" rel="prettyPhoto[gallery1]"><img src="images/galeria/thumbnails/tn_2.jpg"   alt="Nice building" /></a></li>
                <li><a href="images/3.jpg" rel="prettyPhoto[gallery1]"><img src="images/galeria/thumbnails/tn_3.jpg"   alt="Fire!" /></a></li>
                <li><a href="images/4.jpg" rel="prettyPhoto[gallery1]"><img src="images/galeria/thumbnails/tn_4.jpg"   alt="Rock climbing" /></a></li>
                <li><a href="images/5.jpg" rel="prettyPhoto[gallery1]"><img src="images/galeria/thumbnails/tn_5.jpg"   alt="Fly kite, fly!" /></a></li>
                <li><a href="images/6.jpg" rel="prettyPhoto[gallery1]"><img src="images/galeria/thumbnails/tn_2.jpg"   alt="Nice building" /></a></li>
        </ul>-->




        <!--<ul class="gallery clearfix">
                <li><a href="images/galeria/11.jpg" rel="prettyPhoto[gallery2]" title="How is the description on that one? How is the description on that one? How is the description on that one? "><img src="images/galeria/thumbnails/tn_3.jpg"   alt="This is a pretty long title" /></a></li>
                <li><a href="images/galeria/12.jpg" rel="prettyPhoto[gallery2]" title="Description on a single line."><img src="images/galeria/thumbnails/tn_4.jpg"   alt="" /></a></li>
                <li><a href="images/galeria/13.jpg" rel="prettyPhoto[gallery2]"><img src="images/galeria/thumbnails/tn_5.jpg"   alt="" /></a></li>
                <li><a href="images/galeria/14.jpg" rel="prettyPhoto[gallery2]"><img src="images/galeria/thumbnails/tn_1.jpg"   alt="" /></a></li>
                <li><a href="images/galeria/15.jpg" rel="prettyPhoto[gallery2]"><img src="images/galeria/thumbnails/tn_2.jpg"   alt="" /></a></li>
        </ul>-->
        <ul class="gallery clearfix">
            <li><a href="images/galeria/1.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_1.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2.jpg"   alt="" /></a></li>
            <li><a href="images/galeria/3.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_3.jpg"   alt="" /></a></li>
            <li><a href="images/galeria/4.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_4.jpg"   alt="" /></a></li>
            <li><a href="images/galeria/5.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_5.jpg"   alt="" /></a></li>
            <li><a href="images/galeria/6.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_6.jpg" alt="" /></a></li>
            <li><a href="images/galeria/7.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_7.jpg" alt="" /></a></li>
            <li><a href="images/galeria/8.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_8.jpg" alt="" /></a></li>
            <li><a href="images/galeria/9.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_9.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/10.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_10.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/11.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_11.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/12.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_12.jpg" alt="" /></a></li>
            <li><a href="images/galeria/13.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_13.jpg" alt="" /></a></li>
            <li><a href="images/galeria/14.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_14.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/15.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_15.jpg" alt="" /></a></li>
            <li><a href="images/galeria/16.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_16.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/17.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_17.jpg" alt="" /></a></li>
            <li><a href="images/galeria/18.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_18.jpg" alt="" /></a></li>
            <li><a href="images/galeria/19.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_19.jpg" alt="" /></a></li>
            <li><a href="images/galeria/20.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_20.jpg" alt="" /></a></li>
            <li><a href="images/galeria/21.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_21.jpg" alt="" /></a></li>
            <li><a href="images/galeria/22.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_22.jpg" alt="" /></a></li>
            <li><a href="images/galeria/23.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_23.jpg" alt="" /></a></li>
            <li><a href="images/galeria/24.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_24.jpg" alt="" /></a></li>
            <li><a href="images/galeria/25.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_25.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/26.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_26.jpg" alt="" /></a></li>
            <li><a href="images/galeria/27.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_27.jpg" alt="" /></a></li>
<!--            <li><a href="images/galeria/28.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_28.jpg" alt="" /></a></li>
            <li><a href="images/galeria/29.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_29.jpg" alt="" /></a></li>
            <li><a href="images/galeria/30.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_30.jpg" alt="" /></a></li>-->
            <li><a href="images/galeria/31.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_31.jpg" alt="" /></a></li>
            <li><a href="images/galeria/32.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_32.jpg" alt="" /></a></li>
            <li><a href="images/galeria/33.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_33.jpg" alt="" /></a></li>
            <li><a href="images/galeria/34.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_34.jpg" alt="" /></a></li>
            <li><a href="images/galeria/35.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_35.jpg" alt="" /></a></li>
            <li><a href="images/galeria/36.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_36.jpg" alt="" /></a></li>
            <li><a href="images/galeria/37.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_37.jpg" alt="" /></a></li>
            <li><a href="images/galeria/38.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_38.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/39.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_39.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/40.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_40.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/41.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_41.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/42.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_42.jpg" alt="" /></a></li>
            <li><a href="images/galeria/43.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_43.jpg" alt="" /></a></li>
            <li><a href="images/galeria/44.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_44.jpg" alt="" /></a></li>
            <li><a href="images/galeria/45.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_45.jpg" alt="" /></a></li>
            <!-- <li><a href="images/galeria/46.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_46.jpg" alt="" /></a></li> -->
            <li><a href="images/galeria/47.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_47.jpg" alt="" /></a></li>
            <li><a href="images/galeria/48.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_48.jpg" alt="" /></a></li>
            <li><a href="images/galeria/49.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_49.jpg" alt="" /></a></li>
            <li><a href="images/galeria/50.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_50.jpg" alt="" /></a></li>

            <!--2017 images-->
            <li><a href="images/galeria/2017_1.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_1.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_2.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_2.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_3.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_3.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_4.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_4.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_5.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_5.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_6.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_6.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_7.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_7.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_8.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_8.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_9.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_9.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_10.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_10.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_11.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_11.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_12.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_12.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_13.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_13.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_14.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_14.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_15.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_15.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_16.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_16.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_17.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_17.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_18.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_18.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_19.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_19.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_20.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_20.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_21.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_21.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_22.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_22.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_23.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_23.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_24.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_24.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_25.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_25.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_26.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_26.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_27.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_27.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_28.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_28.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_29.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_29.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_30.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_30.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_31.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_31.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_32.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_32.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_33.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_33.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_34.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_34.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_35.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_35.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_36.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_36.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_37.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_37.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_38.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_38.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_39.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_39.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_40.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_40.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_41.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_41.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_42.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_42.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_43.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_43.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_44.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_44.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_45.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_45.jpg" alt="" /></a></li>
            <li><a href="images/galeria/2017_46.jpg" rel="prettyPhoto[gallery2]" title=""><img src="images/galeria/thumbnails/tn_2017_46.jpg" alt="" /></a></li>
        </ul>

        </div>
    </body>
            <script type="text/javascript" charset="utf-8">
            {literal}
            $(document).ready(function() {
                $("area[rel^='prettyPhoto']").prettyPhoto();

                //$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed: 'normal', theme: 'lightn_square', slideshow: 3000, autoplay_slideshow: true});
                $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed: 'fast', slideshow: 6000, hideflash: true, autoplay_slideshow: true, allow_expand: false});
                //$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed: 'fast', slideshow: 3000, hideflash: true, autoplay_slideshow: true, allow_expand: false});

                $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
                 custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
                 changepicturecallback: function(){ initialize(); }
                 });

                 $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
                 custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
                 changepicturecallback: function(){ _bsap.exec(); }
                 });
            });
            {/literal}
        </script>
</html>
