<!DOCTYPE HTML>
<html>
<head>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style2.css" />
  <link rel="stylesheet" href="css/menu.css" type="text/css" media="screen">
  <!-- modernizr enables HTML5 elements and feature detects -->
 <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
   <!--<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>-->
  
  
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <link href="css/demo.css" rel="stylesheet" type="text/css" />
    <link href="css/quake.slider.css" rel="stylesheet" type="text/css" />
    <!--<link href="skins/dark-room/quake.skin.css" rel="stylesheet" type="text/css" />-->
    <!--<script src="js/jquery.js" type="text/javascript"></script>-->
    <script src="js/quake.slider.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.quake-slider').quake({ effects: ['blind','explode','explodeFancy'],
                thumbnails: true,
                captionOpacity: '0.3'
            });
        });
    

    </script>  

    
    
</head>

<body>
  <a href="#" id="slider-stopper">Stop</a>
    <div id="site_content">
       <div class="wrapper">
        <div class="quake-slider">
            <div class="quake-slider-images">
                <!--<a target="_blank" href="#">
                    <img src="images/12_opt.jpg" alt="" />
                </a><a target="_blank" href="#">
                    <img src="images/13.jpg" alt="" /></a>
                <a target="_blank" href="#">
                    <img src="images/14.jpg" alt="" />
                </a><a target="_blank" href="#">
                    <img src="images/15.jpg" alt="" />
                </a>-->
                <img src="images/12_opt.jpg" alt="" />
                
                    <img src="images/13_opt.jpg" alt="" />
                
                    <img src="images/14_opt.jpg" alt="" />
                
                    <img src="images/15_opt.jpg" alt="" />
            </div>
            <div class="quake-slider-captions quake-slider-caption-container">
                <div class="quake-slider-caption">
                   Se puede poner un texto corto para ser mostrado junto con la imagen.
                </div>
                <div class="quake-slider-caption">
                     Se puede poner un texto corto para ser mostrado junto con la imagen.
                </div>
            </div>
        </div>
    </div>
        
        
      <div id="sidebar_container">
        <div class="gallery">
          <ul class="images">
            <li class="show"><img width="450" height="450" src="images/1.jpg" alt="photo_one" /></li>
            <li><img width="450" height="450" src="images/2.jpg" alt="photo_two" /></li>
            <li><img width="450" height="450" src="images/3.jpg" alt="photo_three" /></li>
            <li><img width="450" height="450" src="images/4.jpg" alt="photo_four" /></li>
            <li><img width="450" height="450" src="images/5.jpg" alt="photo_five" /></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <h1>Pantalla inicial del sitio</h1>
        <p>En esta sección se podría poner información institucional de la Hosteria San Benito, o bien algún tipo de información personalizada al respecto.</p>
        <h3>Compatible con navegadores modernos</h3>
        <p>Esta plantilla ha sido testeada en los siguiente browsers:</p>
        <ul>
          <li>FireFox 20</li>
          <li>Google Chrome 26</li>
          <li>Internet Explorer 9</li>
        </ul>
      </div>
    </div>
    
      <div class="gototop"></div>
  
 <script type="text/javascript" src="js/navegar.js"></script>

 
 
 
</body>
</html>
