<!DOCTYPE HTML>
<html>
    <head>
        <meta name="title" content="Hosteria San Benito" />
        <meta name="description" content="Hosteria San Benito Concordia" />
        <meta name="keywords" content="hosteria, san benito,concordia, entre rios, estadia, relax,servicios,calidad" />
        <meta http-equiv="content-language" content="es">
        <meta name="revisit" content="10 days">
        <meta name="robots" content="all" >
        <link type="text/plain" rel="author" href="../../humans.txt" />
    </head>
    <body>
        <div id="site_content">
            <div id="promociones">

                <h2>Promociones</h2>
                
                <p>Además de brindarle servicios de calidad, también contamos con promociones especiales a viajantes.</p>
                
                <p><b>Promocion Junio</b> <br> Habitacion doble dos noches a $550 con todos 
los servicios incluidos promoción válida dias de semanas. NO incluye fin de semanas ni 
feriados.</p>
                
                
            </div>     
            <!--<div id="sidebar_container">
                <h2>Hostería San Benito</h2>
                <ul>
                    <li>Teléfono: 0345-4988660</li>
                    <li>Celular: 0345-154082356</li>
                    <li>Dirección: Avda. Independencia Nº 149  Concordia - Entre Ríos </li>
                </ul>
            </div>
            <div id="sidebar_container">
                <br>
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHoster%25C3%25ADa-San-Benito%2F299268016781862%3Ffref%3Dts&amp;width=450&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:290px;" allowTransparency="true"></iframe>
            </div> -->
            <div style="clear: both;margin: 0 auto;text-align: center">
                <br><br><br>
                <img height="180" alt="Termas de Concordia" src="images/promociones/1.jpg" />
                <img height="180" alt="Naranjas" src="images/promociones/2.jpg" />
                <img height="180" alt="Parque San Carlos" src="images/promociones/3.jpg" />
                <img height="180" alt="Lago Salto Grande" src="images/promociones/4.jpg" />
              
                
            </div>

        </div>
    </body>
</html>