<!DOCTYPE HTML>
<html>
    <head>
        <meta name="title" content="Hosteria San Benito" />
        <meta name="description" content="Hosteria San Benito Concordia" />
        <meta name="keywords" content="hosteria, san benito,Benito,concordia, entre rios,entre,rios,estadia, relax,servicios,calidad" />
        <meta http-equiv="content-language" content="es">
        <meta name="revisit" content="10 days">
        <meta name="robots" content="all" >
        <link type="text/plain" rel="author" href="../../humans.txt" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div id="site_content">
            <div id="promociones">
                <h2>Promociones</h2>
                {$contenido_promociones}
            </div>     
            <div style="clear: both;margin: 0 auto;text-align: center">
                <br><br><br>
                <img height="180" alt="Termas de Concordia" src="images/promociones/1.jpg" />
                <img height="180" alt="Naranjas" src="images/promociones/2.jpg" />
                <img height="180" alt="Parque San Carlos" src="images/promociones/3.jpg" />
                <img height="180" alt="Lago Salto Grande" src="images/promociones/4.jpg" />
            </div>
        </div>
    </body>
</html>