<!DOCTYPE HTML>
<html>
    <head>
        <meta name="title" content="Hosteria San Benito" />
        <meta name="description" content="Hosteria San Benito Concordia" />
        <meta name="keywords" content="hosteria, san benito,Benito,concordia, entre rios,entre,rios,estadia, relax,servicios,calidad" />
        <meta http-equiv="content-language" content="es">
        <meta name="revisit" content="10 days">
        <meta name="robots" content="all" >
        <link type="text/plain" rel="author" href="../../humans.txt" />
    </head>
    <body>
        <div id="site_content">
            <div id="content">

                <h2>Servicios</h2>
                <h3>En Hostería San Benito, ofrecemos una variedad de servicios para que su estadía sea más placentera:</h3>
                <ul>
                    <li>Habitaciones: Dobles, Triples y Cuádruples</li>
                    <li>Desayuno</li>
                    <li>Mucamas</li>
                    <li>Baño Privado</li>
                    <li>Ropa Blanca</li>
                    <li>Amenities</li>
                    <li>Colchones Sommier</li>
                    <li>Cortinas Black Out</li>
                    <li>Tv Led 32" DirectTV</li>
                    <li>Estacionamiento cubierto</li>
                    <li>Quincho</li>
                    <li>Internet WiFi</li>
                </ul>
                
            </div>     
            <div id="sidebar_container">
                <br><br><br>
                <img alt="image 2" src="images/galeria/thumbnails/tn_61.jpg" />
                <img alt="image 2" width="200" height="150" src="images/galeria/thumbnails/tn_62.jpg" />
                <img alt="image 2" src="images/galeria/thumbnails/tn_29.jpg" />
                <img alt="image 2" src="images/galeria/thumbnails/tn_31.jpg" />
                <img alt="image 2" src="images/galeria/thumbnails/tn_33.jpg" />
                <img alt="image 2" src="images/galeria/thumbnails/tn_42.jpg" />
               
                
                
            </div>
            <!--<div id="sidebar_container">
                <br>
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHoster%25C3%25ADa-San-Benito%2F299268016781862%3Ffref%3Dts&amp;width=450&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:290px;" allowTransparency="true"></iframe>
            </div> -->
            <div style="clear: both">
            </div>

        </div>


    </body>
</html>